NEXT_PUBLIC_API_URL=https://bes.epistem.io
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=your_recaptcha_v3_site_key
RECAPTCHA_SECRET_KEY=your_recaptcha_v3_secret_key
RECAPTCHA_MIN_SCORE=0.5
GA_ID=
TOLGEE_API_URL=https://bahasa.wri-indonesia.id
TOLGEE_PROJECT_ID=4
TOLGEE_API_KEY=your_tolgee_project_api_key
