@import "tailwindcss";
@import "tw-animate-css";
/* ---break--- */
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  /* --custom-- */
  --font-inter: var(--font-inter);
  --font-pjs: var(--font-pjs);
  --font-aptos: var(--font-aptos);

  --color-text-icons-base-main: rgba(37, 37, 37, 1);
  --color-text-icons-base-second: rgba(104, 114, 125, 1);
  --color-text-icons-light-base-second: var(--color-gray-100);
  --color-text-icons-on-color: rgba(255, 255, 255, 1);
  --color-primary-pink: rgba(204, 71, 120, 1);
  --color-primary-pink-active: rgba(163, 57, 96, 1);
  --color-primary-second: rgba(250, 237, 242, 1);

  --color-primary-pink-light-hover: rgba(247, 227, 235, 1);
  --color-primary-pink-dark-hover: rgba(122, 43, 72, 1);

  --color-primary-red-pink-dark-hover: rgba(122, 43, 72, 1);

  --color-primary-red-pink-light: rgba(250, 237, 242, 1);
  --color-primary-red-pink-light-active: rgba(239, 198, 213, 1);

  --color-muted: rgba(157, 157, 157, 1);

  --color-gray-700: #323539;
  --color-gray-dark: rgba(81, 81, 81, 1);

  --color-custom-text-grey-mid: rgba(104, 114, 125, 1);
  --color-custom-text-grey-dark: rgba(81, 81, 81, 1);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

/* ---break--- */

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

/* ---break--- */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* ---break--- */

@utility font-lp-body-m-regular {
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

@utility font-lp-body-l-semibold {
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

@utility font-lp-body-xl-regular {
  font-family: var(--font-inter);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

@utility font-lp-display-m-semibold {
  font-family: var(--font-pjs);
  font-size: 52px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.04px;
}

@utility font-lp-display-l-semibold {
  font-family: var(--font-pjs);
  font-size: 64px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: -1.28px;
}

@utility font-lp-display-l-semibold {
  font-family: var(--font-pjs);
  font-size: 64px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: -1.28px;
}

@utility font-lp-headline-xl-bold {
  font-family: var(--font-pjs);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.8px;
}

@utility font-lp-headline-xl-semibold {
  font-family: var(--font-pjs);
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.8px;
}

@utility font-lp-headline-l-bold {
  font-family: var(--font-pjs);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.8px;
}

@utility font-lp-headline-l-semibold {
  font-family: var(--font-pjs);
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
}

@utility font-lp-headline-s-bold {
  font-family: var(--font-pjs);
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.42px;
}

@utility font-lp-headline-xxs-semibold {
  font-family: var(--font-pjs);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.24px;
}

@utility font-lp-headline-xs-semibold {
  font-family: var(--font-pjs);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.24px;
}

@utility font-lp-headline-xs-bold {
  font-family: var(--font-pjs);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.24px;
}

@utility font-lp-headline-xs-medium {
  font-family: var(--font-pjs);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.24px;
}

@utility font-lp-headline-xxs-bold {
  font-family: var(--font-pjs);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
}

@utility font-lp-headline-xxs-medium {
  font-family: var(--font-pjs);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.2px;
}

@utility font-lp-text-xl-regular {
  font-family: var(--font-pjs);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

@utility font-lp-text-xl-bold {
  font-family: var(--font-pjs);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

@utility font-lp-text-l-semibold {
  font-family: var(--font-pjs);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

@utility font-lp-text-l-regular {
  font-family: var(--font-pjs);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@utility font-lp-text-m-semibold {
  font-family: var(--font-pjs);
  font-size: 15px;
  font-weight: 600;
  line-height: 26px;
}

@utility font-lp-text-m-regular {
  font-family: var(--font-pjs);
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

@utility font-lp-text-s-semibold {
  font-family: var(--font-pjs);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

@utility font-lp-text-s-regular {
  font-family: var(--font-pjs);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@utility font-lp-text-xs-semibold {
  font-family: var(--font-pjs);
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
}

@utility font-lp-text-xs-regular {
  font-family: var(--font-pjs);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

@utility font-text-xl-semibold {
  font-family: var(--font-aptos);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

@utility font-text-s-medium {
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

@utility font-text-xs-semibold {
  font-family: var(--font-aptos);
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}

@utility font-text-button-semibold-large {
  font-family: var(--font-pjs);
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1px;
}

@utility font-text-button-semibold-small {
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.base-container {
  max-width: 1440px;
  padding: 0 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .base-container {
    padding: 0 8px;
    max-width: 768px;
  }
}
